.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background: linear-gradient(
        rgb(255, 255, 255, 0.7),
        rgb(255, 255, 255, 0.3)
      ),
      url("https://img.freepik.com/fotos-gratis/instrumento-em-madeira-fundo_127069-14.jpg?w=2000");
    background-size: cover;
    background-position: center;
}

.cadastroContainer {
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.8), inset 0px -1px 0px rgba(0, 0, 0, 0.8);
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin: 50px 0;
    margin-top: 15vh;
    margin-bottom: 20vh;
}

.titulo {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    color: #ff9f1c;;
}

.tituloSecao {
    font-size: 20px;
    margin-top: 20px;
}

.dados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dadosDescricao {
    width: 100%;
}

.secaoForms {
    margin: 20px 0 12px 0;
}

.formContainer > button {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    background: #ff9f1c;
}

.formContainer > button:hover{
    opacity: 0.9;
}

@media (max-width: 540px) {
    .cadastroContainer {
        max-width: 100%;
    }
}