.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}

.base {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.ab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ac {
  display: flex;
  font-family: "Montserrat";
  align-items: center;
  justify-content: center;
}

.mc {
  position: absolute;
  width: 156px;
  height: 29px;
  left: 483px;
  top: 347px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #ff9f1c;
}
