.container {
    display: flex;
    flex-direction: column;
    
    
    flex-grow: 1;
}

.base {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    max-width: 650px;
}

.ab {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ac {
    display: flex;
    align-items: center;
    justify-content: center; 
}