.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 320px;
/*  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;*/

  border: 0.5px solid rgba(127, 118, 118, 0.2);
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.8), inset 0px -1px 0px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.base {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.ab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ac {
  display: flex;
  font-family: "Montserrat";
  align-items: center;
  justify-content: center;
}

.mc {
  display: flex;
  align-items: flex-start;

  width: 720px;
  height: 29px;


  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #ff9f1c;
}


.loginBtn {
  color: #fff !important;
  background-color: #ff9f1c !important;
  border-color: #ff9f1c !important;
}