.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px !important;

  border: 0.5px solid rgba(127, 118, 118, 0.2);
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.8), inset 0px -1px 0px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.base {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.ab {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.ac {
  display: flex;
  font-family: "Inter";
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
  margin-top: 15px;
  font-weight: 600;

  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.mc {
  display: flex;
  align-items: flex-start;
  margin-top: 46px;
  margin-bottom: 80px;
  width: 680px;
  height: 29px;

  font-family: "Montserrat";
  font-style: normal;
  font-size: 24px;
  line-height: 29px;

  color: #ff9f1c;
}

.mb-3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.msgLoginError{
  font-family: 'Inter';
  font-style:inherit;
  color: red;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.loginBtn {
  color: #fff !important;
  background-color: #ff9f1c !important;
  border-color: #ff9f1c !important;

  font-family: 'Montserrat' !important;
  font-style: normal !important;
}

.form-control {
  font-weight: 600 !important;
  font-family: "Inter";
}