/* .produtos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1410px;
    margin-inline: auto;
}

.produtos-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    font-family: "Montserrat";
    font-weight: 600;
    width: 80%;
    margin-inline: auto;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* .produtos-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 12vh;
    width: 80%;
    margin-inline: auto;
    flex-wrap: wrap;
    row-gap: 7vh;
} */

/* .card {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 15px !important; 
}

.card-images {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.card-text {
    font-family: "Inter";
    font-weight: 600;
    text-align: center;
    max-width: 10vw;
    margin: 1vw;
}

.card-button {
    color: black;
    background-color: #FF9F1C;
    border: none;
    border-radius: 100px;
    width: 6.5vw;
    font-family: "Montserrat";
    font-weight: 600;
    height: 3.5vh;
    margin-bottom: 2vh;
}

.button-wishlist {
    position: relative;
    left: 35%;
    margin-top: 5%;
}

.button-wishlist button{
    background: none;
    border: none;  
    color: #FF9F1C;
}

.button-wishlist > button:hover {  
    color: red; 
} */

/* @media screen and (max-width: 1200px){
    
    .produtos-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        font-size: 13px;
    }

    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card-text {
        text-align: center;
        font-size: 13px;
    }

    .card-button {
        width: 120%
    }

} */

/* .produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1410px;
    margin-inline: auto;
} */

.produtos-container {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.produtos-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    font-family: "Montserrat";
    font-weight: 600;
    width: 70%;
    margin-inline: auto;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    width: 70%;
    max-width: 1460px;
    margin-inline: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

@media screen and (max-width: 1200px){
    
    .produtos-info {
        display: flex;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 13px;
    }

    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    
    .produtos-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 13px;
    }

    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}