.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-field {
    width: 400px;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 50px;
    outline: none;
    /* background-color: #FFD100; */
    background-color: white;
    border: 1px solid #000;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    cursor: pointer;
}

.search-icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
}