.header {
    background-color: #FFD100;
    height: 164px;
    width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 70%;
  max-width: 1410px;
  margin-inline: auto;
}

.header-logo > img{
  height: 100%;
  width: 28vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    max-width: 1410px;
    margin-inline: auto;
}

.header-logo > img {
    height: 100%;
    width: 26vh;
}

.header-input-categorys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40rem;
    height: 8rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.categorys {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorys a {
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
}

.categorys > a:hover {
    color: #FF9F1C;
}

.header-profile {
    display: flex;
    justify-content: space-between;
    width: 125px;
    
}

.header-profile > a:hover {
    color: #FF9F1C;
}

.search-field {
    width: 400px;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    background-color: #FFD100;
    border: 1px solid #000;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.profile {
    color: #000;
    font-size: 32px;
}

.logout {
    color: #000;
    font-size: 30px;
}

@media screen and (max-width: 1100px){
  .header-input-categorys {
    display: none;
  }
}

.btn-icon-header {
    width: 125px;
    font-size: 2rem;
    color: #000;
    background: none;
    border: none;
    display: none;
    font-family: "Montserrat";
    font-weight: 600;
}

@media screen and (max-width: 1100px){
    
    .header-logo > img {
        width: 20vh;
    }

    .btn-icon-header {
        display: block;
    }

    .header-input-categorys {
        display: none;
    }

    .header-profile {
        display: none;
    }
}