.header {
    background-color: #FFD100;
    height: 164px;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
}

.header-input-categorys {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40rem;
    height: 8rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.categorys {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorys a {
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
}

.header-profile {
    display: flex;
    justify-content: space-between;
    width: 125px;
    font-size: 2rem;
}

.search-field {
    width: 400px;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    background-color: #FFD100;
    border: 1px solid #000;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.profile {
    color: #000;
}

.carrinho {
    color: #000;
}