.SelectInput{
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 20px)
}

.SelectInput > select {
    width: 100%;
    height: 45px;
    line-height: 50px;
    margin: 10px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    border-bottom-width: 2px;
    transition: all 0.3s ease; 
    padding: 0 15px;
}

label {
    font-size: 16px;
    color: gray;
    font-weight: bold;
    margin-top: 5px;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

select:invalid[focused="true"]{
    border: solid #FFD100;
}

select:invalid[focused="true"] ~ span {
    display: block;
}

select:focus,
select:valid {
    border-color: black;
}

@media (max-width: 540px) {
    .TextAreaInput {
        margin-bottom: 15px;
        width: 100%;
    }
}