.produtos-container {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.produtos-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    font-family: "Montserrat";
    font-weight: 600;
    width: 70%;
    margin-inline: auto;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    width: 70%;
    max-width: 1460px;
    margin-inline: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

@media screen and (max-width: 1200px){
    
    .produtos-info {
        display: flex;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 13px;
    }

    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    
    .produtos-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 13px;
    }

    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}